*.swp
*.class
*.pdf
*.swo
a.out
.gdb*
*.swp
.idea/
*.iml
*.pdf
*.kotlin_module
*.class
*.bak
*.swp
.idea/
*.class
cmake-build-debug
.idea/
.ycm_extra_conf.py
.gdb_history
.gdb_history.cpt
*.pdf
*.pdf.cpt
nicholas_martinez.txt
*.swp
.idea/
*.elf
*.hex
*.swp
.idea/
cmake-build-debug
*.swp
/CMakeFiles
CMakeCache.txt
cmake_install.cmake
.vscode/
project2/CMakeFiles/
project2/Makefile
project2/topology.txt
project2/dvr
.idea/
cmake-build-debug/
