html {
    background-color: #17374e;
}

h1 {
    margin-top: 12px;
    margin-bottom: -14px;
    margin-right: 16px;
}
h2 {
    margin-right: 16px;
}

#main-div {
    width: 90%;
    height: 98%;
    background-color: white;
    margin: 10px auto;
    border: 4px solid black;

}

#page-title {
    margin: 20px auto;
    width: 97%;
    height: 100px;
    text-align: right;
    font-family: sans-serif;
    background-color: #d7e4bd;
    border: 1px solid black;
}

#friends {
    width: 32%;
    height: 180px;
    background-color: red;
    margin: 8px auto;
    margin-left: 12px;
    float: left;
    color: white;
    text-align: left;
    padding: 4px;
    border: 2px solid black;
}

.entries{
    width: 62%;
    height: 180px;
    margin: 8px auto;
    margin-right: 12px;
    float: right;
    text-align: left;
    padding: 4px;
    border: 2px solid black;
}

